{% include 'layout.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">Let's edit your todo!</div>
    <div class="card-body">
      <form id="editTodoForm">
        <div class="form-group">
          <label>Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            value="{{todo.title}}"
            required
          />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea name="description" class="form-control" rows="3" required>{{ todo.description }}</textarea>
        </div>
        <div class="form-group">
          <label>Priority</label>
          <select name="priority" class="form-control">
            <option value="1" {{ 'selected' if todo.priority == 1 }}>1</option>
            <option value="2" {{ 'selected' if todo.priority == 2 }}>2</option>
            <option value="3" {{ 'selected' if todo.priority == 3 }}>3</option>
            <option value="4" {{ 'selected' if todo.priority == 4 }}>4</option>
            <option value="5" {{ 'selected' if todo.priority == 5 }}>5</option>
          </select>
        </div>
        <input type="hidden" name="complete" value="false">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="complete" {% if todo.complete %} checked {% endif %}>
          <label class="form-check-label">Complete</label>
        </div>
        <button class="btn btn-primary" type="submit">Edit your todo</button>
        <button class="btn btn-danger" type="button" id="deleteButton">Delete</button>
        <a href="/todos/todo-page" class="btn btn-success">Back</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}